#root {
  max-width: 1280px;
  margin: 0 auto;
  
  text-align: center;

}
.template{
  background-image: url("/bitcoin1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh
}



